@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground overflow-x-hidden font-sans antialiased;
  }
}

/* Custom styles for animations */
@keyframes scrollMarquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: scrollMarquee 26s linear infinite;
}
